<p><span>Lender: </span><%= @user.first_name %></p>
<p><span>Amount: </span><%= @request.requested_amount %></p>
<p><span>From: </span><%= @request.loan_start %> <span>To: <%= @request.loan_end %></span></p>
