<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "bill.jpg", alt: "accounting" %>);">
  <div class="container">
    <h1>CoinShark </h1>
    <p>Find loans at the lowest rates near you. Invest and receive passive income.</p>
    <a class="btn btn-flat" href="#">Register now</a>
  </div>
</div>
